@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tourTitle {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}
.tourMessage {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    text-align: center;
}
.customCard {
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px !important;
}
.imgDiv {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.imgPack {
    position: absolute;
    padding: 10px;
    /* background-color: #f8b600; */
    background-color: #00bbf0;
    color: #fff;
    border-top-right-radius: 15px;
    bottom: 0;
    font-family: 'Playfair Display', serif;
}