.tourBg {
    background-image: url('../../../assets//tourBg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.tourHeaderContents {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
    top: 40%;
    color :#000 !important;
    border-radius: 25px;
}
.tourHeaderContents h4{
    font-family: 'Playfair Display', serif;
}