.aboutWrapper {
    background-image: url("../../../assets/aboutBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.headerContents { 
    position: absolute;
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
    top: 40%;
    color :#000 !important;
    border-radius: 25px;
}
.headerContents h4{
    font-family: 'Playfair Display', serif;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}