.travelPic {
    text-align: center;
}
.tourSiteCard {
    background-color: #2c2e3e !important;
    color: #fff;
}
.siteTitle {
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
}
.formBtn {
    margin-top: 10px;
    background-color: #f8b600 !important;
    color: #fff;
    font-weight: 600;
    width: 100%;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
}
.horizontal {
    width : 90%;
    margin: 0 auto;
    color: blue;
    margin-top: 25px;
} 
.lavel {
    font-family: 'Playfair Display', serif;
}