.BlogDetailsWrapper {
  margin-top: 50px;
}
.socialIcons i {
  margin-right: 5px;
}
.socialIcons i:last-child {
  margin-right: 0px;
}
.authorDes {
  padding: 25px;
  background-color: #fbf9ff;
}
.commentBtn {
  background-color: #f8b600 !important;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500 !important;
  font-family: "Playfair Display", serif !important;
  color: #fff !important;
}
.horizontal {
  width: 90%;
  margin: 0 auto;
  color: blue;
  margin-top: 25px;
}
.siteBarBtn {
  background-color: #f8b600 !important;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500 !important;
  font-family: "Playfair Display", serif !important;
  color: #fff !important;
}
.recentPostTitle {
    font-family: "Playfair Display", serif;
  }
  .categoryList {
    display: flex;
    justify-content: space-between;
  }
  .categoryList p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
  }
  .newsLetterDesc {
    margin: 20px 0px;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .unsubscribe {
    margin-top: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
.customCart {
    background-color: #f8f9fa !important;
}
.singleBlogTitle, .authorName {
  font-family: "Playfair Display", serif;
}
.singleBlogDescription, .commentText {
  font-family: "Poppins", sans-serif;
}
.commentHeader, .replyHeader {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

  